*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
body {
  background: linear-gradient(to bottom, #34367c, #b370a2, #213052); 
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
h1 {
  text-align: center;
  margin-top: 10px;
  color: snow;
  font-size: 3rem;
}
.memory2 {
  background: linear-gradient(to bottom, #34657c, #b38970, #21523a); 
}
.memory3 {
  background: linear-gradient(to bottom, #347c4c, #b370aa, #3f5221); 
}
.memory4 {
  background: linear-gradient(to bottom, #59347c, #adaf24, #214c52); 
}
.grid {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(4, 200px);
  width: 800px;
  height: 600px;
  margin: 12vh auto ;
}
.grid-1 {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  width: 600px;
  height: 600px;
  margin: 12vh auto;
  justify-content: center;
}
.grid-2 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  width: 600px;
  height: 600px;
  margin: 12vh auto;
  justify-content: center;
}
.card {
  perspective: 1000px;
  margin: 5px;
}

.frontCards {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.front {
  background: snow;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  z-index: 1;
}
.front img {
  width: 180px;
  height: 180px;
}
.back {
  background: #213052;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border: 3px solid snow;
}
.active {
  transform: rotateY(180deg)
}
.btns {
  display: flex;
}
.btn {
  display: flex;
  text-align: center;
  margin: 10px auto;
  width: 10vh;
  height: 5vh;
  font-size: 2vh;
  padding: 10px 0px;
  font-weight: 600;
  border: 3px solid snow;
  background-color: black;
  color: snow;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}
.btn:hover {
  border: 3px solid black;
  background-color: snow;
  color: black;
}